<div class="w-100 footer" 
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
style="padding:20px;">
    <div fxFlex style="text-align: center; padding:20px;" >
        <img src="./assets/logo.png" width="200px" height="200px" style="border-radius: 100px;">
    </div>
    <div fxFlex style="text-align: center; padding:20px;  padding-top: 80px; position: relative; ">
        <p><span><mat-icon style="right:3px; position: relative; top:4px;">copyright</mat-icon>2020</span> All Rights Reserved <br> <a href="#">Terms of use and privacy policy</a></p>
    </div>
    <div fxFlex style="text-align: center; padding:20px; padding-top:80px; position: relative;">
        <mat-icon svgIcon="twitter" class="foot-icon"></mat-icon>
        <mat-icon svgIcon="facebook" class="foot-icon"></mat-icon>
        <mat-icon svgIcon="instagram" class="foot-icon" style="width:90px; height:90px;"></mat-icon>
        <mat-icon svgIcon="reddit" class="foot-icon"></mat-icon>
    </div>
</div>