h1 {
    font-family:'chelsea market';
}
p {
    font-family: 'kalam'; font-size: x-large;
    padding: 20px;
}
h2 {
    font-family: 'sarabun';
    margin-top: 35px;
}
@media only screen and (max-width:620px) {
    .grid-head {
        font-size: large;
        padding-left: 6px;
    }
}