@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.enclose {
    margin-left: 80px;
    padding: 20px;
    position: absolute;
}
mat-card {
    border:1px solid;
    border-radius: 20px 0 20px 0; 
    margin-left:20px;
    margin-right: 20px;
    
    background-color: indigo;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}
p {
    font-size: x-large;
    font-family:'Shadows Into Light', cursive;
    letter-spacing: 4px;
    font-weight: bold;
}
.css-box {
    margin-top :125px;
    margin-right: 80px;
}
.emotify {
    top:0;
    padding-top:20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-left: -20px;
    position: fixed;
    background-color: rgb(255, 90, 175);
    color: white;
    z-index: 1;
}
.css-h1 {
    font-size: xx-large;
    font-family: 'chelsea market';
}
.css-h3 {
    font-size: larger;
}
.username {
    right: 90px;
    top: 35px;
    position: absolute;
    font-family: 'sarabun';
}
@media only screen and (max-width: 960px) {
    mat-card {
        margin-right:0 !important;
        margin-left: 0 !important;
    }
    .css-box {
       padding:0px !important;
       margin-right: 5px;
   }
   mat-card-content {
       padding-left: 0px !important;
       padding-right: 0px !important;
   }
 
}
@media only screen and (max-width: 720px) {
    .css-h3 {
        display: none;
    }
}
@media only screen and (max-width: 660px) {
    .enclose {
        padding-right: 5px;
        padding-left: 5px;
    }
    .emotify {
        margin-left: -5px;
    }
}
@media only screen and (max-width :550px) {
    .enclose {
        margin-left: 60px;
    }
}
@media only screen and (max-width: 450px) {
    .username {
        top:auto;
        bottom:1px;
    }
}