<mat-toolbar color="primary">
    <a mat-button routerLink="/home" routerLinkActive="css-active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a mat-button routerLink="/about" routerLinkActive="css-active">
        <mat-icon>public</mat-icon>
        <span>About</span>
    </a>
    <span class="space-right"></span>
    <a mat-button routerLink="/login" routerLinkActive="css-active">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </a>
</mat-toolbar>
