<app-emotification></app-emotification>
<div class="encaps">
    <div class="emotify w-100">
        <span class="css-h1">Emotify: </span><span class="css-h3"><i>Your peace platform</i></span>
    </div>
    <mat-divider></mat-divider>
    <div class="big-box"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center">
        <div fxFlex>
            <img src="../../assets/couple.jpg" width="100%" height="100%">
        </div>        
        <div fxFlex class="content">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, earum iusto optio provident sed nam quia aperiam non quos libero! Voluptatum totam itaque quae error sunt, adipisci tenetur! Maxime, soluta!</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="big-box"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center">        
        <div fxFlex class="content">
            <h1>Purpose</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, earum iusto optio provident sed nam quia aperiam non quos libero! Voluptatum totam itaque quae error sunt, adipisci tenetur! Maxime, soluta!</p>
        </div>
        <div fxFlex>
            <img src="../../assets/siblings.jpg" width="100%" height="100%">
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="big-box"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center">
        <div fxFlex>
            <img src="../../assets/stones.jpg" width="100%" height="100%">
        </div>        
        <div fxFlex class="content">
            <h1>Vision</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, earum iusto optio provident sed nam quia aperiam non quos libero! Voluptatum totam itaque quae error sunt, adipisci tenetur! Maxime, soluta!</p>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>
