.encaps {
    margin-left: 70px;
    padding: 20px;
    padding-right: 10px;
    
}
.content {
    padding: 20px;
}
.content h1 {
    text-align: center;
    margin-bottom: 15px;
    color: sandybrown;
}
.big-box {
    margin-bottom: 55px;
    margin-top: 55px;
    background-color: indigo;
    border-radius: 20px 20px 20px 20px;
    color: whitesmoke;
    margin-right: 0;
}
img {
    border-radius: 20px 20px 20px 20px ;
}
mat-divider {
    border-top-color: cornsilk;
}
.emotify {
    top:0;
    padding-top:20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-left: -10px;
    position: fixed;
    background-color: rgb(255, 90, 175);
    color: white;
    z-index: 1;
}
.css-h1 {
    font-size: xx-large;
    font-family: 'chelsea market';
}
.css-h3 {
    font-size: larger;
}
.username {
    right: 90px;
    top: 35px;
    position: absolute;
    font-family: 'sarabun';
}
p{
    font-family: 'PT Sans';
    font-size: medium;
}
h1{
    font-family: 'Sarabun';
}
@media only screen and (max-width: 550px) {
    .encaps {
        margin-left:50px;
    }
}

@media only screen and (max-width: 720px) {
    .css-h3 {
        display: none;
    }
    .big-box {
        margin-bottom: 35px;
    margin-top: 35px;
    }
}


@media only screen and (max-width: 450px) {
    .username {
        top:auto;
        bottom:1px;
    }
}
