<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" aria-label="Close button" class="close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">   <!-- novalidate shifts validation responsibilty from browser to angular -->
  <mat-error *ngIf="errMess" style="text-align: center; line-height: 60px;">{{errMess}}</mat-error>
  <div class="modal-body">
      <p *ngIf="!bool">
        <mat-spinner></mat-spinner>
      </p>
      <p>
        <mat-form-field class="col-8">
          <input novalidate matInput placeholder="Username" #username1="ngModel" type="text" [(ngModel)]="user.username" name="username" required>
          <mat-error *ngIf="username1.errors?.required">Username is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field  class="col-8">
          <input novalidate matInput placeholder="Password" #password="ngModel" type="password" [(ngModel)]="user.password" name="password" required>
          <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
        </mat-form-field>
      </p>
      <br>
  </div>
  <div class="modal-footer">
    <button mat-button (click)="activeModal.close('Close click')">Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Login</button> <!--user cannot submit if form entry is invalid-->
  </div>
</form>