<div class="css-community-div">
   <div class="col-12 css-col">
      <ul class="css-list-text">
         <li *ngFor="let cat of cats"><button mat-icon-button class="cat-icon" [ngStyle]="getStyle(cat.bg, cat.color)" (click)="catClick(cat.emotion)">{{cat.letter}}</button></li>
      </ul>
   </div>
</div>

<div class="css-box" *ngIf="load">
   <mat-card *ngFor="let p of templatePost; let i = index" [@community]>
   <mat-card-header>
      <mat-card-title><h4 style="word-break: break-all;">{{p.userName}}</h4></mat-card-title>
      <img mat-card-avatar [src]="url+p.userImage.split('uploads\\')[1]">
      <mat-card-subtitle style="font-size: larger; color:wheat;">{{p.category | lowercase}}</mat-card-subtitle>
   </mat-card-header>
   <span style="float:right; font-size: x-small; word-break: break-all; text-align: right;
   width: 100%;">{{p.date}}</span>
   <mat-card-content style="padding: 10px; margin-bottom:40px;">
      <p style="font-size: x-large; font-family: monospace; word-break: break-word;">{{p.title}}</p>
      
      <p>{{p.content}}</p>
   </mat-card-content>
         <mat-icon class="icon-love"  (click)="fnLike(i)" [class.iconLoved]=p.like>favorite</mat-icon>
</mat-card>
</div>
<div class="container" style="position: absolute; top:30px; margin-left: 120px;" *ngIf="!load">
   <mat-spinner *ngIf="!errMess"></mat-spinner> <span>Loading...</span>
<p *ngIf="errMess" style="font-size: large; margin-top: 50px; padding-left: 20px;">{{errMess}}</p>
</div>
<app-emotification></app-emotification>
