/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Kalam&family=PT+Sans:ital@1&family=Sarabun:wght@500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
* {
    margin:0;
    padding:0;
}

body {
    color:black;
}
.space-right {
    flex: 1 1 auto;
}

.card {
    max-width: 350px;
    min-height: 490px;
    background-color: #f4f4f4;
}
body {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center center;
}
