.mat-card-header-text {
    margin-left:0 !important;
}
p {
    font-family:'sarabun';
}
app-carousel:focus {
    outline:none;
}
@media only screen and (max-width:485px) {
    .carou {
        padding-left: 0;
        padding-right: 0;
    }
}