div {
    top:0;
    left:0;
    position: fixed;
    width: 80px;
    height:100%;
    text-align: center;
    padding: 0;
    display: inline-block;
}
.homed {
    background-color: #f1f1f1;
    color: black;
}
.articled {
    background-color:  #bb1f1f;
    color: white;
}
.articleb {
    background-color: salmon;
}
.communityd {
    background-color: rgb(56, 42, 42);
    color: white;
}
.homeb {
    background-color: rgb(240, 154, 213);
}
.communityb {
    background-color: sandybrown;
}
a {
    transform: rotateZ(90deg);
    position:relative;
    display: inline-block;
}
a:hover {
    color: whitesmoke;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    position: absolute;
}
.css-bot {
    bottom: 0;
}
li {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.css-top {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
button {
    border-radius: 25px;
}
.top-ul {
    top:0;
}
button:active, button:focus {
    border-style: none !important;
    border:0 !important;
    outline: none !important;
    box-shadow: none !important;
}

@media only screen and ( max-height: 640px ) {

    .css-bot {
        width:0;
        height: 0;
        display: none;
    }
    div {
        display: flex;
        align-items: center;
    }
    .top-ul {
        top: auto;
        width: 80px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 100px;
    }
}

@media only screen and ( max-height: 500px ) {
    .top-ul {
        line-height: 60px;
    }
}
@media only screen and ( max-height: 400px ) {
    .top-ul {
        line-height: 40px;
    }
}
@media only screen and ( max-height: 300px ) {
    .top-ul {
        line-height: 20px;
    }
}
@media only screen and ( max-height: 200px ) {
    .top-ul {
        line-height: 10px;
    }
}


