div {
    top:0;
    left:0;
    position: fixed;
    width: 80px;
    height:100%;
    text-align: center;
    padding: 0;
}
.homed {
    background-color: wheat;
    color: black;
}
.articled {
    background-color:  #bb1f1f;
    color: white;
}
.articleb {
    background-color: salmon;
}
.communityd {
    background-color: rgb(56, 42, 42);
    color: white;
}
.homeb {
    background-color: salmon;
}
.communityb {
    background-color: sandybrown;
}
a {
    margin-top: 30px;
    margin-bottom: 30px;
    transform: rotateZ(90deg);
    position:relative;
}
a:hover {
    color: whitesmoke;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    bottom: 0;
    position: absolute;
    
}
li {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
button {
    border-radius: 25px;
}
button:active, button:focus {
    border-style: none !important;
    border:0 !important;
    outline: none !important;
    box-shadow: none !important;
}



