<div [ngClass]=getDivStyle()>
    <a mat-button routerLink="/tiles" routerLinkActive="{{getButtonStyle()}}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a mat-button routerLink="/article" routerLinkActive="{{getButtonStyle()}}">
        <mat-icon>public</mat-icon>
        <span>Article</span>
    </a>
    <a mat-button routerLink="/community" routerLinkActive="{{getButtonStyle()}}">
        <mat-icon>login</mat-icon>
        <span>Cmnty</span>
    </a>
    <ul class="container">
        <li><button [ngClass]=getButtonStyle() mat-stroked-button><mat-icon>copyright</mat-icon></button></li>
        <li><button [ngClass]=getButtonStyle() mat-button>E</button></li>
        <li><button [ngClass]=getButtonStyle() mat-button>M</button></li>
        <li><button [ngClass]=getButtonStyle() mat-button>O</button></li>
        <li><button [ngClass]=getButtonStyle() mat-button>T</button></li>
        <li><button [ngClass]=getButtonStyle() mat-button>I</button></li>
        <li><button [ngClass]=getButtonStyle() mat-button>F</button></li>
        <li><button [ngClass]=getButtonStyle() mat-button>Y</button></li>
    </ul>
</div>
