<div >
    <a mat-button routerLink="/home" routerLinkActive="css-active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a mat-button routerLink="/about" routerLinkActive="css-active">
        <mat-icon>public</mat-icon>
        <span>About</span>
    </a>
    <a mat-button routerLink="/login" routerLinkActive="css-active">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </a>
    <ul class="container">
        <li><button mat-stroked-button><mat-icon>copyright</mat-icon></button></li>
        <li><button mat-button>E</button></li>
        <li><button mat-button>M</button></li>
        <li><button mat-button>O</button></li>
        <li><button mat-button>T</button></li>
        <li><button mat-button>I</button></li>
        <li><button mat-button>F</button></li>
        <li><button mat-button>Y</button></li>
    </ul>
</div>
