
<div [ngClass]=getDivStyle() class="myDiv">
    <ul class="top-ul">
    <li class="css-top"><a mat-button routerLink="/ehome" ngbTooltip="Home" placement="bottom" routerLinkActive="{{getButtonStyle()}}">
        <mat-icon>home</mat-icon>
    </a>
    </li>
    <li class="css-top">
    <a mat-button routerLink="/tiles" ngbTooltip="Emotify" placement="bottom" routerLinkActive="{{getButtonStyle()}}">
        <mat-icon>category</mat-icon>
    </a>
    </li>
    <li class="css-top">
    <a mat-button routerLink="/community" ngbTooltip="Community" placement="bottom" routerLinkActive="{{getButtonStyle()}}">
        <mat-icon>language</mat-icon>
    </a>
    </li>
    <li class="css-top">
    <a mat-button  routerLink="/profile"  ngbTooltip="Profile" placement="bottom" routerLinkActive="{{getButtonStyle()}}">
        <mat-icon>person</mat-icon>
    </a>
    </li>
    </ul>
    <ul class="container css-bot">
        <li><button [ngClass]=getButtonStyle() ngbTooltip="Nikhil George Mathew" placement="bottom" mat-stroked-button><mat-icon>copyright</mat-icon></button></li>
        <li *ngFor = "let em of ems"><button [ngClass]=getButtonStyle() mat-button>{{em.letter}}</button></li>
    </ul>
</div>

